/* calendar */
#calendar_box {
  border: 1px solid #fafafa;
  border-bottom: none;
  margin-top: 14px;
}
#calendar_box ul li {
  float: left;
}
#calendar_box ul li a {
  padding: 0;
}
#calendar_box #calendar_header {
  border-bottom: 1px solid #fafafa;
}
#calendar_box #calendar_header #calendar_month {
  width: 216px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}
#calendar_box #calendar_header #calendar_prev a, #calendar_box #calendar_header #calendar_next a {
  margin: 1px;
  display: block;
  background: url("../images/calendar.png") 0 0 no-repeat;
}
#calendar_box #calendar_header #calendar_prev a.hidden, #calendar_box #calendar_header #calendar_next a.hidden {
  display: none;
}
#calendar_box #calendar_header #calendar_prev.waiting, #calendar_box #calendar_header #calendar_next.waiting {
  background: url("../images/spinner.gif") 10px 2px no-repeat;
  cursor: normal;
}
#calendar_box #calendar_header #calendar_prev.waiting a, #calendar_box #calendar_header #calendar_next.waiting a {
  background: none;
}
#calendar_box #calendar_header #calendar_next {
  float: right;
}
#calendar_box #calendar_header #calendar_next a {
  background-position: 0 -23px;
}
#calendar_box #days_of_week {
  border-bottom: 1px solid #fafafa;
}
#calendar_box #days_of_week li {
  width: 42.5px;
  height: 18px;
  text-align: center;
  font-weight: bold;
  color: #0b0b0b2;
  font-size: 10px;
  line-height: 18px;
}
#calendar_box #calendar_list li {
  margin-top: 1px;
  border: 1px solid #fafafa;
  border-left: none;
  border-top: none;
}
#calendar_box #calendar_list li.last {
  border-right: none;
}
#calendar_box #calendar_list li a {
  color: #0b0b0b;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  width: 40px;
  display: block;
  margin: 0 1px 1px 1px;
  font-weight: normal;
}
#calendar_box #calendar_list li a.disable {
  color: #fafafa;
}
#calendar_box #calendar_list li a.event {
  background-color: #fbb116;
  color: #fff;
}
#calendar_box #calendar_list li a.event:hover {
  cursor: pointer;
  background-color: #fbb116;
}
#calendar_box #calendar_list li a.event:hover .tip_event {
  display: block;
}
