/* calendar */
/* line 2, ../sass/calendar.scss */
#calendar_box {
  border: 1px solid #fafafa;
  border-bottom: none;
  width: 300px;
  margin-top: 14px;
  /* header */
  /* days of the week */
  /* list days */
}
/* line 8, ../sass/calendar.scss */
#calendar_box ul {
  overflow: auto;
}
/* line 10, ../sass/calendar.scss */
#calendar_box ul li {
  float: left;
}
/* line 12, ../sass/calendar.scss */
#calendar_box ul li a {
  padding: 0;
}
/* line 19, ../sass/calendar.scss */
#calendar_box #calendar_header {
  border-bottom: 1px solid #fafafa;
}
/* line 21, ../sass/calendar.scss */
#calendar_box #calendar_header #calendar_month {
  width: 216px;
  text-align: center;
  font-family: Museo;
  font-size: 18px;
  line-height: 25px;
}
/* line 28, ../sass/calendar.scss */
#calendar_box #calendar_header #calendar_prev, #calendar_box #calendar_header #calendar_next {
  width: 41px;
  height: 24px;
}
/* line 31, ../sass/calendar.scss */
#calendar_box #calendar_header #calendar_prev a, #calendar_box #calendar_header #calendar_next a {
  text-indent: -9999px;
  width: 40px;
  height: 23px;
  margin: 1px;
  display: block;
  background: url("../images/calendar.png") 0 0 no-repeat;
}
/* line 39, ../sass/calendar.scss */
#calendar_box #calendar_header #calendar_prev a.hidden, #calendar_box #calendar_header #calendar_next a.hidden {
  display: none;
}
/* line 44, ../sass/calendar.scss */
#calendar_box #calendar_header #calendar_prev.waiting, #calendar_box #calendar_header #calendar_next.waiting {
  background: url("../images/spinner.gif") 10px 2px no-repeat;
  cursor: normal;
}
/* line 48, ../sass/calendar.scss */
#calendar_box #calendar_header #calendar_prev.waiting a, #calendar_box #calendar_header #calendar_next.waiting a {
  background: none;
}
/* line 53, ../sass/calendar.scss */
#calendar_box #calendar_header #calendar_next {
  float: right;
}
/* line 55, ../sass/calendar.scss */
#calendar_box #calendar_header #calendar_next a {
  background-position: 0 -23px;
}
/* line 62, ../sass/calendar.scss */
#calendar_box #days_of_week {
  border-bottom: 1px solid #fafafa;
}
/* line 64, ../sass/calendar.scss */
#calendar_box #days_of_week li {
  width: 42.5px;
  height: 18px;
  text-align: center;
  font-weight: bold;
  color: #0b0b0b2;
  font-size: 10px;
  line-height: 18px;
}
/* line 77, ../sass/calendar.scss */
#calendar_box #calendar_list li {
  margin-top: 1px;
  border: 1px solid #fafafa;
  border-left: none;
  border-top: none;
}
/* line 82, ../sass/calendar.scss */
#calendar_box #calendar_list li.last {
  border-right: none;
}
/* line 86, ../sass/calendar.scss */
#calendar_box #calendar_list li a {
  cursor: default;
  color: #0b0b0b;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  width: 40px;
  display: block;
  margin: 0 1px 1px 1px;
  font-weight: normal;
}
/* line 97, ../sass/calendar.scss */
#calendar_box #calendar_list li a.disable {
  color: #fafafa;
}
/* line 100, ../sass/calendar.scss */
#calendar_box #calendar_list li a.event {
  background-color: #f4ed27;
}
/* line 102, ../sass/calendar.scss */
#calendar_box #calendar_list li a.event:hover {
  cursor: pointer;
  background-color: #fafafa;
}
/* line 103, ../sass/calendar.scss */
#calendar_box #calendar_list li a.event:hover .tip_event {
  display: block;
}
